<% layout('layouts/boilerplate.ejs') -%>

<h2 class="mt-4 text-center text-decoration-underline">Edit your Listing</h2>
<div class="row">
  <form
    method="POST"
    class="row mx-auto offset-2 col-md-8 g-3 p-4 needs-validation"
    action="/listings/<%= listing._id %>?_method=PUT"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="col-md-6">
      <label for="inputTitle" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="inputTitle"
        name="listing[title]"
        value="<%= listing.title %>"
        required
      />
      <div class="invalid-feedback">Enter a Valid Title</div>
    </div>

    <div class="col-md-6">
      <label for="inputPrice" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="inputPrice"
        name="listing[price]"
        value="<%= listing.price %>"
        min="0"
        required
      />
      <div class="invalid-feedback">Enter a valid Price</div>
    </div>

    <div class="col-md-12">
      <div class="col-md-12">
        <label for="inputLink" class="form-label">Upload new Image</label>
        <input
          type="file"
          class="form-control"
          id="inputLink"
          name="listing[image]"
        />
      </div>
      <figure>
        <img
          class="rounded-2 mt-3"
          preview
          title="preview of older image"
          src="<%= listing.image.url %>"
          alt="<%= listing.image.filename%>"
        />
        <figcaption>*previous image</figcaption>
      </figure>
    </div>

    <div class="col-md-6">
      <label for="inputCountry" class="form-label">Country</label>
      <input
        type="text"
        class="form-control"
        id="inputCountry"
        name="listing[country]"
        value="<%= listing.country %>"
        required
      />
      <div class="invalid-feedback">Enter a valid Country</div>
    </div>

    <div class="col-md-6">
      <label for="inputLocation" class="form-label">Location</label>
      <input
        type="text"
        class="form-control"
        id="inputLocation"
        name="listing[location]"
        value="<%= listing.location %>"
        required
      />
      <div class="invalid-feedback">Enter a Location</div>
    </div>

    <label for="inputCategory">Select New Category</label>
    <select
      class="form-select"
      name="listing[category]"
      required
      id="inputCategory"
    >
      <option selected value="Trending">Trending</option>
      <option value="Rooms">Rooms</option>
      <option value="Mountains">Mountains</option>
      <option value="Castles">Castles</option>
      <option value="Amazing Pools">Amazing Pools</option>
      <option value="Camping">Camping</option>
      <option value="Farms">Farms</option>
      <option value="Arctic">Arctic</option>
      <option value="Iconic Cities">Iconic Cities</option>
    </select>

    <div class="col-md-12">
      <label for="formControlTextarea" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="formControlTextarea"
        name="listing[description]"
        rows="3"
        required
      >
<%= listing.description %></textarea
      >
      <div class="invalid-feedback">Give a little Description</div>
    </div>
    <button class="btn btn-primary">Edit</button>
  </form>
</div>
