<% layout('/layouts/boilerplate.ejs') -%>

<div class="container position-relative">
  <div class="filters mt-3">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic-Citites</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Amazing Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-snowflake"></i></div>
      <p>Arctic</p>
    </div>
  </div>
  <div
    class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 justify-content-flex-start"
  >
    <% for(let listing of data) { let i = 1;%>
    <a href="/listings/<%= listing._id %>" class="item_listing">
      <div class="card mx-sm-0">
        <img
          src="<%= listing.image.url %>"
          loading="lazy"
          class="card-img-top listing-img rounded-3"
          alt="<%= listing.image.filename %>"
        />
        <div class="card-img-overlay p-0"></div>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text text-justify">
            &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
          </p>
        </div>
      </div>
    </a>
    <% } %>
    <div class="load-more-card mx-sm-0 d-flex justify-content-flex-end">
      <button type="button" class="btn btn-outline-success ms-4 load-more">
        load more
      </button>
      <img src="/src/load_more.gif" class="ms-4 load-more" alt="load_more" />
    </div>
  </div>
  <% if(data.length===0){ %>
  <h1>No Listing Found!</h1>
  <% } %>
</div>
<script>
  let allListings = document.querySelectorAll(".item_listing");

  allListings.forEach((item) => {
    item.style.display = "none";
  });

  let load_more = document.querySelector(".load-more");
  let card = document.querySelector(".load-more-card");
  let allListingsArray = Array.from(allListings);
  card.children[1].style.display = "none";
  let i = 0;
  for (; i < 10; i++) {
    if (i === allListingsArray.length) {
      load_more.style.display = "none";
      break;
    }
    allListingsArray[i].style.display = "block";
  }
  load_more.addEventListener("click", (e) => {
    card.children[0].style.display = "none";
    card.children[1].style.display = "block";
    setTimeout(() => {
      card.children[0].style.display = "block";
      card.children[1].style.display = "none";
      let t = i ? i + 5 : 8;
      for (; i < t; i++) {
        if (i === allListingsArray.length) {
          load_more.style.display = "none";
          return;
        }
        allListingsArray[i].style.display = "block";
      }
    }, 800);
  });
</script>
<script>
  const filters = document.querySelectorAll(".filter");
  let filterValue = location.pathname.split("/")[3];
  filters.forEach((filter) => {
    filter.addEventListener("click", (e) => {
      location.pathname = `listings/filters/${filter.children[1].innerText}`;
    });
    if (filterValue === filter.children[1].innerText) {
      filter.classList.add("active");
    }
  });
</script>
