<% layout('/layouts/boilerplate.ejs') -%>

<div class="container">
  <div
    class="row row-cols-lg-3 p-sm-3 row-cols-md-3 row-cols-sm-2 justify-content-center mt-5"
  >
    <% for(let listing of data) { %>
    <a href="/listings/<%= listing._id %>">
      <div class="card mx-sm-0">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top listing-img rounded-4"
          alt="<%= listing.image.filename %>"
        />
        <div class="card-img-overlay p-0"></div>
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <p class="card-text text-justify">
            &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
</div>
