<% layout('/layouts/boilerplate.ejs') -%>

<div class="row mt-4 px-2 " style="min-height: 88vh;">
  <div class="card border-none col-md-8 offset-md-2 mb-3">
    <h3>Details of <%= listing.title %> :</h3>
    <img
      src="<%= listing.image.url  %>"
      class="card-img-top rounded-3 img-fluid"
      alt="<%= listing.image.filename  %>"
      style="max-height:40vh; object-fit:cover;"
    />
    <div class="card-body">
      <p class="card-text"><strong class="me-4">Owned by</strong>&rarr;&nbsp;&nbsp;&nbsp; <strong><%= listing.owner.username %></strong></p>
      <div class="row card-text mb-2 text-justify">
        <span class="col-xl-2 col-md-3 "><strong class="me-3">About</strong>&rarr; </span>
        <span class=" col-md-8 desc col-xl-9 " ><%= listing.description %></span>
      </div>
      <p class="card-text"><strong class="me-4">Rent</strong>&rarr;&nbsp;&nbsp;&nbsp; &#8377;<%= listing.price.toLocaleString("en-IN") %> / day</p>
      <p class="card-text"><strong class="me-2">Country</strong>&rarr;&nbsp;&nbsp; <%= listing.country %></p>
      <p class="card-text"><b class="me-2">Location</b> &rarr;&nbsp;&nbsp; <%= listing.location %></p>
      <p class="card-text"><b class="me-2">Category</b> &rarr;&nbsp;&nbsp; <%= listing.category %></p>
      <% if(currentUser && currentUser.username === listing.owner.username){ %>
        <p class="card-text mt-5">
          <div class="container-fluid  d-flex">
            <a href="/listings/<%= listing._id %>/edit" class="text-decoration-none btn me-4 btn-primary">Edit</a>
          <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-danger">Delete</button>
          </form>
          </div>
        </p>
      <% } %>

      <form class="bookingForm" method="POST" >
        <input type="hidden" name="amount" value="<%= listing.price %>">
        <input type="hidden" name="name" value="<%= listing.title %>">
        <input type="hidden" name="location" value="<%= listing.location %>">
        <input type="hidden" name="category" value="<%= listing.category %>">
        <button class="btn btn-outline-success mt-2" type="submit">Book Now</button>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector('.bookingForm').addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(this);
    const place ={};
    for(let [key,value] of formData.entries()){
      place[key]=value;
    }
    fetch('/payment/createOrder', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({place})
    })
    .then(response => response.json())
    .then(data => {
  
      // Create the Razorpay Checkout form
      const options = {
        key: data.key_id,
        amount: data.amount, // amount received from the server
        currency: 'INR',
        name: 'Deepak',
        description: 'Test Transaction',
        image: 'https://wanderlust-fucc.onrender.com/src/demo_user.png',
        order_id: data.order_id,
        handler: function (response) {
          alert('Payment Successfull');
        }
      };
  
      const rzp1 = new Razorpay(options);
      rzp1.open();
    })
    .catch(error => {
      alert('Payment Failed');
    });
  });
  </script>
  

<hr>


<% if(currentUser){ %>
<div class="container p-4">
  <form action="/listings/<%= listing._id %>/reviews" method="post" novalidate  class="row col-md-8 offset-md-2 needs-validation mb-3" reviewForm>
    <h3>Create Your Review</h3>
    <div class="row col-12 mt-3 flex-sm-row flex-md-column">
      <div class="col-sm-8">
        <label for="starsRating" class="form-label">Rating</label>
        <fieldset id="starsRating" class="starability-slot">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="reviews[rating]"
            value="0"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="reviews[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="reviews[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="reviews[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="reviews[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="reviews[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        
      </div>
    </div>
    <div class="col-md-12">
      <label for="formControlTextarea" class="form-label">Review</label>
      <textarea
      class="form-control"
      id="formControlTextarea"
      name="reviews[description]"
        rows="3"
        placeholder="Leave your Review"
        required
        ></textarea>
        <div class="invalid-feedback mt-2"><img src="https://i.pinimg.com/474x/f5/66/c7/f566c70f10b7551b9806a3646cf683db.jpg" alt="review emoji">Enter some comment</div>
      </div>
      <div class="col">
        <button class="btn btn-outline-success mt-4">submit</button>
      </div>
  </form>
</div>
<hr>
<% } %>

<div class="col-md-12 offset-md-1 container p-4">
  <% if(listing.listingReviews.length){ %>
    <h3>Older Reviews</h3>
    <div class="row gap-lg-4 gap-sm-5 mt-4">
      <% for(review of listing.listingReviews){ %>
        <div class="review-card position-relative col-sm-5 col-lg-3 p-4 mt-2">
          <p class="mb-1"><strong>Creater : </strong>@<%= review.createdBy.username %></p>
          <p style="margin-top: -6px;"><strong>Rating : </strong>  
            <% for(let i=0;i<review.rating;i++){ %> 
              <span style="font-size:140%;<% if(i!=0){ %>margin-left:-6px;<% } %>color:red;">&starf;</span>
              <% } %>
            </p>
            <p><strong>Comment : </strong><%= review.description %> </p>
            <% if(currentUser && review.createdBy.username===currentUser.username){ %>
              <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                <button class="btn btn-outline-dark position-absolute bottom-0 end-0">Delete</button>
              </form>
              <% } %>
      </div>  
   <% } %>
  </div>
  <% }else{ %>
    <h3>No Older Reviews</h3>    
    <% } %>
</div>

